<div class="admin-layout">
  <aside class="sidebar">
    <div class="logo">HMS</div>

    <nav class="navigation">
      <a routerLink="/manager/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
     </a>
      <a routerLink="/manager/rooms" routerLinkActive="active">
        Rooms
      </a>
      <a routerLink="/manager/reservations" routerLinkActive="active">
        Reservations
      </a>
      <a routerLink="/manager/profile" routerLinkActive="active">
        Profile
      </a>
    </nav>

    <div class="sidebar-bottom">
      <button class="logout-button" (click)="onLogout()">Logout</button>
    </div>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <div>
        <h1>Manager Panel</h1>
        <p>Hotel Management System</p>
      </div>
      <div class="admin-info">
        <span>Manager</span>
      </div>
    </header>

    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>

@if (isLogoutModalOpen()) {
  <div class="modal-overlay" (click)="closeLogoutModal()">
    <div class="modal" (click)="$event.stopPropagation()">

      <h2 class="modal-title">Logout</h2>

      <p class="modal-text">
        Are you sure you want to logout?
      </p>

      <div class="modal-actions">
        <button
          class="btn btn-cancel"
          (click)="closeLogoutModal()">
          Cancel
        </button>

        <button
          class="btn btn-danger"
          (click)="confirmLogout()">
          Logout
        </button>
      </div>

    </div>
  </div>
}